#*
 * Copyright (C) 2024 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *###
## This template expects:
## - The '_passwordRules' response model entry
## - An <input> with ID 'password' in the page
#if ($_passwordRules && !$_passwordRules.empty)
<div id="password-rules" class="input-requirements left-align p3 mb2 mt2 br-8">
    <h4 class="mt0">
        #message("${_templatePrefix}.credential.password.rules")
    </h4>
    <ul class="list-reset m0 flex flex-gap-1 flex-column">
        #foreach($rule in $_passwordRules)
            <li title="#message("${_templatePrefix}.credential.password.rule.${rule.type}.details")"
                data-qa-type="$rule.type"
                class="input-requirements-rule input-requirements-rule-unmet flex flex-gap-2">
                <div class="relative">
                    <svg class="input-requirements-rule-checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="input-requirements-rule-checkmark-circle" cx="26" cy="26" r="25" fill="none"/><path class="input-requirements-rule-checkmark-check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                </div>
                <small class="m0 ml2 w100 flex justify-between">
                    #message("${_templatePrefix}.credential.password.rule.${rule.type}")
                    #if($rule.arg)<span>$rule.arg</span>#end
                </small>
            </li>
        #end
    </ul>
</div>
<script type="text/javascript" $!nonceAttr async>
    document.addEventListener("DOMContentLoaded", function () {
        const rules = [
            #foreach($rule in $_passwordRules)
                { "type": "$_tr.encodeJson("$rule.type")",  "arg": $_tr.encodeJson("$rule.arg") },
            #end
        ];
        curityui.validation.bindInputRequirementsValidation("password", "password-rules", rules);
    });
</script>
#end
