#*
 * Copyright (C) 2016 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *###
#*
 * This view is an information page that is displayed (if configured) before the phone number registration takes place
 * The purpose is to inform the user that authentication may take place before registration can be don
 *
 * For a full list of variables available in this template and their associated values, do the following:
 *
 * 1. Create a file called globals.vm in <installation-dir>/usr/share/templates/overrides/fragments
 *
 * 2. Add the following to this new file:
 *
 * <!--
 *    All variables:
 *    #foreach ($entry in $_context.entrySet())
 *        $entry.key => $!entry.value
 *    #end
 * -->
 *
 * 3. Request this template again and view the HTML source code. All variables and their values will be shown in an
 *    HTML comment at the top of the file.
 *
 * For more information about using the Velocity templating language, refer to
 * http://velocity.apache.org/engine/devel/user-guide.html.
 *###
#set ($page_symbol = $page_symbol_authenticate_sms)
#define($_body)
    <form method="post">
        <div class="center">
        <h1>#message("authenticator.sms.info.view.headline")</h1>
        <p>
            #message("authenticator.sms.info.view.details")
        </p>
         <a href="$!_registerUrl" class="button button-medium button-grey button-fullwidth">
             #message("authenticator.sms.info.view.button.continue")
         </a>
        </div>
    </form>
#end
#parse("layouts/default")
