#*
 * Copyright (C) 2016 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *###
#*
 * This is the waiting page when waiting for a user to click the link in their mobile device
 *
 * For a full list of variables available in this template and their associated values, do the following:
 *
 * 1. Create a file called globals.vm in <installation-dir>/usr/share/templates/overrides/fragments
 *
 * 2. Add the following to this new file:
 *
 * <!--
 *    All variables:
 *    #foreach ($entry in $_context.entrySet())
 *        $entry.key => $!entry.value
 *    #end
 * -->
 *
 * 3. Request this template again and view the HTML source code. All variables and their values will be shown in an
 *    HTML comment at the top of the file.
 *
 * For more information about using the Velocity templating language, refer to
 * http://velocity.apache.org/engine/devel/user-guide.html.
 *###
#set ($nextPage = $_registerUrl)
#if ($_showInfoBeforeRegistration)
    #set ($nextPage = $_anonymousUrl)
#end
#set ($page_symbol = $page_symbol_authenticate_sms)
#define($_body)
## This needs to be here, to be able to fire when the poller script detects that
## authentication is complete. This will cause the SSO session to be created
## and the redirect to be completed.
<form action="$_action" method="post" class="poller-onsuccess">
    ## The moveOn is a flag that when set indicates that the page is ready to move on
    ## the poller script will post to the server _without_ this flag, and when the script
    ## detects that authentication is ready, this form is posted with moveOn true, to mark
    ## that it's the page and not the scrip calling.
    #if (!$_errors)
    <input type="hidden"  id="moveOn" name="moveOn" value="true"/>
    <div class="center">
        <h1 id="recipient" class="recipient recipient-phone">
            #message("authenticator.sms.link-wait.view.authenticate")
            <span>
            $RegexUtil.replaceGroups($_recipientOfCommunication,
            "(.*?)(.{4})", [1], "x")
            </span>
        </h1>
    </div>
    <div class="center p2">
        #parse("fragments/spinner")
    </div>
        #parse("fragments/poller")
    #end
    #if ($_allowRegistrationDuringLogin)
        <div class="center py2 login-actions">
            <p>
                #message("authenticator.sms.link-wait.view.register-info")
            #if (!$_showInfoBeforeRegistration)
            ## The next thing the user will see is a login prompt (unless they've logged in before with
            ## an allowed authenticator), so we'll give them a bit of extra info before they're
            ## redirected.
                #message("authenticator.sms.link-wait.view.register-info-login")
            #end
            </p>
            <a href="$nextPage">
                #message(
                "authenticator.sms.link-wait.view.register-or-change")
            </a>
        </div>
    #end
    <div class="center py2 login-actions">
        <a href="$_authUrl" role="button">
            <i class="icon ion-refresh inlineicon"></i>#message("authenticator.sms.link-wait.view.restart")
        </a>
    </div>
</form>
#end
#parse("layouts/default")
