#*
 * Copyright (C) 2016 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *###
#*
 * This is the waiting page where the browser is waiting for the user to authenticate using the encap app.
 *
 * For a full list of variables available in this template and their associated values, do the following:
 *
 * 1. Create a file called globals.vm in <installation-dir>/usr/share/templates/overrides/fragments
 *
 * 2. Add the following to this new file:
 *
 * <!--
 *    All variables:
 *    #foreach ($entry in $_context.entrySet())
 *        $entry.key => $!entry.value
 *    #end
 * -->
 *
 * 3. Request this template again and view the HTML source code. All variables and their values will be shown in an
 *    HTML comment at the top of the file.
 *
 * For more information about using the Velocity templating language, refer to
 * http://velocity.apache.org/engine/devel/user-guide.html.
 *###
#set ($page_symbol = $page_symbol_authenticate_pair_device)
#define($_body)
<form action="$_action" method="post" class="poller-onsuccess">
    <input type="hidden" name="_postback" id="_postback" value="true"/>
    <h1 class="center">#message("authenticator.encap.wait.page.title")</h1>
    <p class="center">#message("authenticator.encap.wait.view.instructions")</p>
    <div class="center p2">
        #parse("fragments/spinner")
    </div>
</form>
    #parse("fragments/poller")
#end
#parse("layouts/default")
