#*
 * Copyright (C) 2015 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *###
#*
 * This view is only shown to let the user select which encap device to user to authenticate
 *
 * For a full list of variables available in this template and their associated values, do the following:
 *
 * 1. Create a file called globals.vm in <installation-dir>/usr/share/templates/third-party-debug/base.
 *
 * 2. Add the following to this new file:
 *
 * <!--
 *    All variables:
 *    #foreach ($entry in $_context.entrySet())
 *        $entry.key => $!entry.value
 *    #end
 * -->
 *
 * 3. Request this template again and view the HTML source code. All variables and their values will be shown in an
 *    HTML comment at the top of the file.
 *
 * For more information about using the Velocity templating language, refer to
 * http://velocity.apache.org/engine/devel/user-guide.html.
*###
#set ($nextPage = $_registerUrl)
#if ($_showInfoBeforeRegistration)
    #set ($nextPage = $_anonymousUrl)
#end
#set ($page_symbol = $page_symbol_authenticate_pair_device)
#define ($_body)
    <form method="post">
            <h1 class="center">#message("authenticator.encap.select-device.page.title")</h1>
            <div class="login-chooser mb2">
                #if ($_devices.isEmpty())
                    <div class="alert alert-danger">
                            #if ($_username)
                                #message("authenticator.encap.select-device.no-devices-with-username") <span>$_username</span>
                            #else
                                #message("authenticator.encap.select-device.no-devices-with-this-user")
                            #end
                    </div>
                    <p>#message("authenticator.encap.select-device.entered-wrong-username")</p>
                    ## This can be enabled seperatly in each of the authenticators that use this template. Some may
                    ## allow registration during login while other don't. As a best practice, create two different
                    ## authenticators -- one for cases where users will authenticate _inside_ a mobile app (i.e., in a
                    ## browser view) and one for apps where that won't be the case. Do not allow registration for all
                    ## apps/service providers where this will be viewed in an embedded view. This results in too much
                    ## context switching, and is best if the person uses a different device for this (e.g., their laptop).
                    ## When the app won't be empedding this view, registration can be quite helpful to allow even when
                    ## logging in.
                    #if ($_allowRegistrationDuringLogin)
                        <p class="center">
                            <a href="$nextPage" class="button button-primary button-fullwidth" role="button">
                                #message("authenticator.encap.select-device.add-device")
                            </a>
                        </p>
                        <p>
                            #message("authenticator.encap.select-device.click-to-add-device")
                        </p>
                        <p>
                            #if (!$_showInfoBeforeRegistration)
                                ## The next thing the user will see is a login prompt (unless they've logged in before with
                                ## an allowed authenticator), so we'll give them a bit of extra info before they're
                                ## redirected.
                                #message("authenticator.encap.select-device.login-to-add")
                            #end
                        </p>
                    #else
                        <p class="center">
                            <a href="#!" class="button button-small" role="button">#message("authenticator.encap.select-device.get-help-adding-a-device")</a>
                        </p>
                        <p>#message("authenticator.encap.select-device.contact-help-desk")</p>
                    #end
                #else
                    <div class="mb3">
                    #foreach ($d in $_devices)
                        <div class="form-field mb1">
                            <button type="submit" name="device_id" value="$d.getDeviceId()" class="button button-primary button-fullwidth button-social button-social-single-color">
                                <i class="icon inlineicon
                                    #if ($d.getFormFactor() == "phone")
                                        ion-iphone
                                    #elseif ($d.getFormFactor() == "tablet")
                                        ion-ipad
                                    #else
                                        ion-iphone
                                    #end
                                    ">
                                </i>
                                $d.getAlias()
                                #if ($!d.getNumber() && $d.getNumber() != "")
                                    ($d.getNumber())
                                #end
                            </button>
                        </div>
                    #end
                    </div>
                    #if ($_allowRegistrationDuringLogin)
                        <div class="login-actions center py2">
                            <p>#message("authenticator.encap.select-device.add-another-description")</p>
                            <a href="$nextPage" class="">
                                <i class="icon ion-plus inlineicon"></i>
                                #message("authenticator.encap.select-device.add-another-button")
                            </a>
                        </div>
                    #end
                #end
            </div>
    </form>
#end
#parse("layouts/default")
