#*
 * Copyright (C) 2019 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *###
#*
 * For a full list of variables available in this template and their associated values, do the following:
 *
 * 1. Create a file called globals.vm in <installation-dir>/usr/share/templates/overrides/fragments
 *
 * 2. Add the following to this new file:
 *
 * <!--
 *    All variables:
 *    #foreach ($entry in $_context.entrySet())
 *        $entry.key => $!entry.value
 *    #end
 * -->
 *
 * 3. Request this template again and view the HTML source code. All variables and their values will be shown in an
 *    HTML comment at the top of the file.
 *
 * For more information about using the Velocity templating language, refer to
 * http://velocity.apache.org/engine/devel/user-guide.html.
 *###
<script type="text/javascript" $!nonceAttr>
    /**
     * Gets the URI that the different browsers need to start the BankID app and resume correctly after
     * authenticating with it
     *
     * @returns string auto-start URI for BankID
     */
    var isIos = /iphone|ipod|ipad/i.test(navigator.userAgent);
    var isIos9Plus = isIos && /.*OS [91].*/.test(navigator.userAgent);
    var isChromeIos = /crios/i.test(navigator.userAgent);
    var isFirefoxIos = /fxios/i.test(navigator.userAgent);
    var isFirefox = isFirefoxIos || /rv:.*Gecko/.test(navigator.userAgent);
    var isAndroid = /android/i.test(navigator.userAgent);
    function getAutoStartUri(autoStartToken) {
        var autostartUri = "bankid:///?autostarttoken=" + autoStartToken + "&redirect=";
        var redirectUri = 'null';
        if (isChromeIos) {
            var location = encodeURIComponent(window.location.href);
            // iOS Chrome launches if protocol is googlechrome or googlechromes
            redirectUri = 'googlechromes://';
        }
        else if (isFirefoxIos) {
            var location = encodeURIComponent(window.location.href);
            redirectUri = 'firefox://open-url?url=' + location;
        }
        else if (isIos9Plus) {
            autostartUri = "https://app.bankid.com/?autostarttoken=" + autoStartToken + "&redirect=";
            // according to BankID documentation, in order to get back to the initiating tab on
            // the browser, the same url has to be provided - as the one started from.
            // The BankID app uses the parameter `redirect` to launch the RP web app after completed
            // (including cancelled) auth or sign. The redirect URL must be UTF-8 and URL encoded and
            // should match the web address the user is visiting when RP web app launches the BankID app.
            // It may include parameters to be passed to the browser. For iOS the redirect must have a value
            redirectUri = encodeURIComponent(window.location.href)
        }
        else if (!isIos) {
            // 'null' redirect url means that bankid won't try to open a url after authentication
            // on non iOS this redirects to the initiating browser by default.
            redirectUri = 'null';
        }
        return autostartUri + redirectUri;
    }
</script>
