#*
 * Copyright (C) 2022 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *###
## The title of this page can be overridden by setting the $title variable here to a resource string or the actual value
##set($title = "")
#set ($page_symbol = $page_symbol_authenticate_desktop)
#define ($_body)
<form method="post" action="$_actionUrl">
    <div class="area center">
        <h1>#message($_acknowledgementRequestMessage)</h1>
    </div>
    <div #if($_cancellable == true) class="sm-grid-container" sm-columns="2" gap="1"#end>
        <div>
            <button id="submit-button" name="response" type="submit"
                    class="button button-fullwidth button-primary $!button_color mt2"
                    value="true">#message($_acceptButtonLabel)</button>
        </div>
        #if($_cancellable == true)
            <div>
                <button id="cancel-button" name="response" type="submit"
                        class="button button-fullwidth button-primary-outline $!button_color mt2"
                        value="false">#message($_cancelButtonLabel)</button>
            </div>
        #end
    </div>
</form>
#end
#parse("layouts/default")
