#*
 * Copyright (C) 2018 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *###
#*
 * This is the view where the user enters an OTP.
 *
 * For a full list of variables available in this template and their associated values, do the following:
 *
 * 1. Create a file called globals.vm in <installation-dir>/usr/share/templates/overrides/fragments
 *
 * 2. Add the following to this new file:
 *
 * <!--
 *    All variables:
 *    #foreach ($entry in $_context.entrySet())
 *        $entry.key => $!entry.value
 *    #end
 * -->
 *
 * 3. Request this template again and view the HTML source code. All variables and their values will be shown in an
 *    HTML comment at the top of the file.
 *
 * For more information about using the Velocity templating language, refer to
 * http://velocity.apache.org/engine/devel/user-guide.html.
 *###
#if($_postBack && $_postBack["alias"])
    #set($alias = $_postBack["alias"])
#elseif($_alias)
    #set($alias = $_alias)
#end
#set ($page_symbol = $page_symbol_authenticate_totp)
#define($_body)
<form method="post">
    #if ($_errors)
        #set($_errorClass = "is-error is-error-danger")
    #end
    <div id="enter-device-id">
        <h1 class="center">#message("authenticator.totp.set-alias.view.title1")</h1>
        <div class="center">
            <p>#message("authenticator.totp.set-alias.view.p1")</p>
        </div>
        <div class="form-field">
            <label class="$!_errorClass">#message("authenticator.totp.set-alias.view.alias")</label>
            <input type="text" name="alias" id="alias" class="block full-width mb1 field-light $!_errorClass"
                   autofocus
                   required value="$!alias" autocapitalize="none" maxlength="30">
            <i class="form-field-icon icon ion-iphone"></i>
        </div>
        <button type="submit" class="button button-fullwidth button-primary mt2 ">#message(
                "authenticator.totp.set-alias.view.generate-code")</button>
    </div>
</form>
#end
#parse("layouts/default")
