#*
 * Copyright (C) 2016 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *###
#*
 * This is the page shown when a user confirms its phone number
 *
 * For a full list of variables available in this template and their associated values, do the following:
 *
 * 1. Create a file called globals.vm in <installation-dir>/usr/share/templates/overrides/fragments
 *
 * 2. Add the following to this new file:
 *
 * <!--
 *    All variables:
 *    #foreach ($entry in $_context.entrySet())
 *        $entry.key => $!entry.value
 *    #end
 * -->
 *
 * 3. Request this template again and view the HTML source code. All variables and their values will be shown in an
 *    HTML comment at the top of the file.
 *
 * For more information about using the Velocity templating language, refer to
 * http://velocity.apache.org/engine/devel/user-guide.html.
 *###
#set ($page_symbol = $page_symbol_done)
#define($_body)
    <div class="area">
        <div class="center">
            <h1>#message("authenticator.sms.confirm.view.done")</h1>
            #parse("fragments/auto-login")
            <div class="mt2">
                <a href="$!_authUrl" class="button button-success button-fullwidth">#message(
                    "authenticator.sms.confirm.view.continue")</a>
            </div>
        </div>
    </div>
#end
#parse("layouts/default")
