#*
 * Copyright (C) 2020 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *###
#*
 * This is the page shown when no previous factor was used and the user is required to enter its username
 *
 * For a full list of variables available in this template and their associated values, do the following:
 *
 * 1. Create a file called globals.vm in <installation-dir>/usr/share/templates/overrides/fragments
 *
 * 2. Add the following to this new file:
 *
 * <!--
 *    All variables:
 *    #foreach ($entry in $_context.entrySet())
 *        $entry.key => $!entry.value
 *    #end
 * -->
 *
 * 3. Request this template again and view the HTML source code. All variables and their values will be shown in an
 *    HTML comment at the top of the file.
 *
 * For more information about using the Velocity templating language, refer to
 * http://velocity.apache.org/engine/devel/user-guide.html.
 *###
#set ($page_symbol = $page_symbol_authenticate_pair_device)
#define($_body)
<form method="post">
    <div class="center">
        <h1>#message("authenticator.duo.enter-username.view.username")</h1>
    </div>
    <div class="form-field">
        <label>#message("authenticator.duo.enter-username.view.username")</label>
        <input type="text" name="username" id="username" class="block full-width mb1 field-light" autofocus required
               value="$!_username" autocapitalize="none">
        <i class="form-field-icon icon ion-ios-person"></i>
    </div>
    <button type="submit" class="button button-fullwidth button-primary">#message(
        "authenticator.duo.enter-username.view.challenge")</button>
</form>
#end
#parse("layouts/default")