#*
 * Copyright (C) 2023 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *###
#set ($page_symbol = $page_symbol_facebook_data_deletion)
#define($_body)
<div class="area center">
    <p>#message("authenticator.facebook.anonymous.view.personal-data-deleted")</p>
</div>
#end
#parse("layouts/default")
