#*
 * Copyright (C) 2016 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *###
#*
 * This is the page shown when a username is needed for the email authenticator
 *
 * For a full list of variables available in this template and their associated values, do the following:
 *
 * 1. Create a file called globals.vm in <installation-dir>/usr/share/templates/overrides/fragments
 *
 * 2. Add the following to this new file:
 *
 * <!--
 *    All variables:
 *    #foreach ($entry in $_context.entrySet())
 *        $entry.key => $!entry.value
 *    #end
 * -->
 *
 * 3. Request this template again and view the HTML source code. All variables and their values will be shown in an
 *    HTML comment at the top of the file.
 *
 * For more information about using the Velocity templating language, refer to
 * http://velocity.apache.org/engine/devel/user-guide.html.
 *###
#if($_postBack && $_postBack["userName"])
    #set($userNameValue = $_postBack["userName"])
#elseif($_username)
    #set($userNameValue = $_username)
#end
#set ($page_symbol = $page_symbol_authenticate_email)
#define($_body)
    #if ($_singleFactor)
    <form method="post">
        #if ($_errors)
            #set($_errorClass = "is-error is-error-danger")
        #end
        <h1 class="center">#message("authenticator.email.enter-username.view.username")</h1>
        <div class="form-field">
            <label for="userName" class="$!_errorClass">#message("authenticator.email.enter-username.view.username")</label>
            <input type="text" name="userName" class="block full-width mb1 field-light $!_errorClass" autocapitalize="none"
            value="$!userNameValue" autofocus>
            <i class="form-field-icon icon ion-ios-person"></i>
        </div>
        <button type="submit" class="button button-fullwidth button-primary">#message(
            "${_templatePrefix}.view.challenge")</button>
    </form>
    #end
#end
#parse("layouts/default")
